@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    background: linear-gradient(100deg, #8e644a, #101010);
}
#Home{
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
}
#About{
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
}
.man1v{
    box-shadow: 0 10px 20px rgba(28, 28, 28, 0.8), 
                0 6px 6px rgba(138, 97, 72, 0.6);
}
.watch-container{
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
}
.custo-contain{
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
}
#Contact{
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));

}
/* Common fade-in styles */
.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 2s ease-out;
}
  
/* From left */
.fade-in-left {
    transform: translateX(-50px); /* Start slightly off-screen to the left */
}
  
.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0); /* Move into place */
}
  
/* From right */
.fade-in-right {
    transform: translateX(50px); /* Start slightly off-screen to the right */
}
  
.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0); /* Move into place */
}
/* Initial state for fade-in from the bottom */
.fade-in-bottom {
    opacity: 0;
    transform: translateY(50px); /* Move the element below its normal position */
    transition: opacity 1.5s ease-out, transform 2s ease-out; /* Smooth transition */
}
  
/* Visible state */
.fade-in-bottom.visible {
    opacity: 1;
    transform: translateY(0); /* Element moves into its original position */
}
  
   
/*coooooooooooooooooooooooooooooooooooooooooooooo
.hero {
    display: grid;
    place-items: center; /* Centers content vertically and horizontally */
   /* grid-template-columns: 1fr auto; /* This ensures the images are on the right */
   /* width: 50%;
    height: 100vh; /* Full viewport height */
   /* overflow: hidden; /* Hide any overflow */
 /* }
  
  /*.hero-image {
    width: 60%; /* Adjust image width */
   /* height: auto;
    margin-right: 50px;
    grid-column: 2; /* Place images in the second column (right) */
   /* transition: opacity 2s ease-in-out;
  }
oooooooooooooooooooooooooooooooooooooooooooooooo*/
  